BasedOnStyle: WebKit

ColumnLimit: 100
UseTab: Never
IndentWidth: 2
TabWidth: 2

InsertNewlineAtEOF: true
WrapNamespaceBodyWithEmptyLines: Always
SeparateDefinitionBlocks: Always
NamespaceIndentation: None

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<(SDL3|webgpu)/?.*>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3