BasedOnStyle: Chromium

ColumnLimit: 100
UseTab: Never
IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 2

InsertNewlineAtEOF: true
WrapNamespaceBodyWithEmptyLines: Always
SeparateDefinitionBlocks: Always
NamespaceIndentation: None

BinPackArguments: false
BinPackParameters: OnePerLine
AlignAfterOpenBracket: BlockIndent
BreakAfterReturnType: Automatic
BreakBeforeTemplateCloser: true
PenaltyReturnTypeOnItsOwnLine: 1000
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<(imgui|SDL3|webgpu|nlohmann|TextEditor)/?.*>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3
